.banner {
	background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 50%), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJbjme7O6iRmXUcVoJCKx63lK_v5sc0CmxCQ&s);
	color: whitesmoke;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}
.banner h1 {
	font-size: 40px;
	color: orange;
}
.banner h2 {
	font-size: 30px;
	font-weight: bolder;
	opacity: 0.8;
	margin-bottom: 30px;

}